.notice{
  width: 100%;
  color: $font-color;
  text-align: center;
  font-size: 16px;
  background-color: $btn-color;
}

.header {
  height: 100px;
  width: 100%;
  .header-right{
    height: 100px;
    width: calc(100% - 300px);
    background-color: $font-color;
    box-sizing: border-box;
    padding: 0 40px;
    float: right;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group{
      h2{
        font-size: 20px;
        color: #333333;
        padding-top: 35px; 
      }  
      ul {
        font-size: 12px;
        color: $info-color;
        padding-top: 15px;
        display: flex;
        li{
          padding-left: 5px;
        }
      }
    }
    .edit{
      text-decoration: none;
      &__btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        color: $btn-color;
        border: 1px solid $btn-color;
      } 
    }
  }



  .header-left {
    background-color: $bg__header-left;
    width: 300px;
    height: 100%;
    align-items: center;
    display: flex;
    &__user{
      padding: 0 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      p{
        font-size: 16px;
        font-weight: bold;
        color: $font-color;
      }  
      ul {
        display: flex;
        li{
          padding-left: 0.3rem;
          i{
            color: $font-color;
          }
        }
      }
    }
  }  
}

.contents {
  background-color: $bg__messages;
  height: calc(100vh - 100px);
  width: 100%;
  .groups {
    background-color:$bg__left-content;
    height: 100%;
    width: 300px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    .group{
      padding-bottom: 40px;
      &__group-name{
        font-size: 15px;
        font-weight: bold;
        color: $font-color;
      }
      &__latest-message{
        font-size: 11px;
        font-weight: bold;
        color: $font-color;
        padding-top: 5px;
      }
    }
  }
  .contents-main {
    height: 100%;
    width: calc(100% - 300px);
    float: right;
    box-sizing: border-box;
    position: relative;
    .messages{
      padding: 46px 40px 40px;
      height: calc(100% - 90px);
      width: 100%;
      box-sizing: border-box;
      .message{
        &__upper-info{
          display: flex;
          &__talker{
            font-size: 16px;
            font-weight: bold;
            color: $font-color__message;
          }
          &__date{
            font-size: 12px;
            color: $info-color;
            padding-left: 10px; 
          }
        }
        &__text{
          font-size: 14px;
          color: $font-color__message;
          padding: 10px 0 40px;
        }
      }
    }



    .form {
      height: 90px;
      padding: 20px 40px;
      box-sizing: border-box;
      background-color: $bg__form;
      width: 100%;
      position: absolute;
      bottom: 0;
      .new-message{
        display: flex;
        .input-box{
          width: 100%;
          position: relative;
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: $font-color__message;
            border-style: none;
            box-sizing: border-box;
          }
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &__file{
              display: none;
            }
          }
        }
        .submit-btn{
          height: 50px;
          width: 100px;
          padding: 0 30px;
          margin-left: 15px;
          color: white;
          cursor: pointer;
          background-color: $btn-color;
        }
      }
    }
  }
}

