// 変数定義用

$font-color: #ffffff;
$font-color__message: #434a54;
$btn-color: #38aef0;
$info-color: #999999;
$bg__header-left: #253141;
$bg__messages: #fafafa;
$bg__left-content: #2f3e51;
$bg__form: #dddddd;